@model IEnumerable<REIN_MES_System.Models.ShopWiseConsumption>
<br />
@*<div class="col-md-4 col-md-offset-4">

    <div class="panel">
        <div class="panel-heading" style="background-color:lightseagreen; text-align:center">
            <h style="color:white;font-size:15px"><b>Yesterday's Data </b> </h>
        </div>
    </div>
</div>*@
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel">
            <div class="panel-heading" style="background-color:lightseagreen; text-align:center">
                <h style="color:white;font-size:15px"><b>Yesterday's Data </b> </h>
            </div>
        </div>
        </div>
        <div class="col-md-10 col-md-offset-1" style=" margin-top: 2%;">
            @foreach (var item in Model.GroupBy(c => c.ShopsCat_ID))
        {
            foreach (var data in item.Distinct())
            {


                <div class="col-md-3">
                    <div class="panel" style="border:solid;color:lightseagreen">
                        <!-- small box -->
                        <div class="panel-heading" style="background-color:lightseagreen; text-align:center">

                            @*<p style="color:white"><b>PRESS SHOP</b></p>*@
                            <button type="button" class="btn shopchartbtn" onclick="getShops(@data.ShopsCat_ID)"><b>@data.ShopsCategory_Name</b> </button>
                        </div>
                        <div id="image_show" style="text-align:center">
                            <img class="center-image-wrapper text-center" style="width:37%" src="~/Content/images/SOPImages/meter1.png" />
                        </div>
                        <div style="/* MARGIN-TOP: 0%; */font-size:large;text-align:center;
font-family:'Times New Roman';color:white;FONT-WEIGHT: BOLD;BACKGROUND-COLOR:  #20b2aa;">
                            @data.totalconsumption <label>kWh</label>

                        </div>

                    </div>
                </div>

        }

    }
        </div>
    </div>
<script type="text/javascript">




</script>