
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}
<style>
    .banner {
        background-image: url('../../Content/theme/dist/img/image.png');
    }

    .panel:hover {
        background-color: antiquewhite;
    }

    .realbtn:hover {
        background-color: firebrick;
    }

    .realbtn {
        background-color: chocolate;
        width: 75px;
        height: 70px;
    }
</style>

<div class="row" style="padding-top:0px">


    @*<div class="col-md-offset-4 col-md-4 ">
            <div class="panel" style="background-color:cadetblue">
                <div class="panel-heading" style="text-align:center">
                    <h style="color:white; font:bold; font-size:20px"><b>ALL SHOPS</b></h>
                </div>
            </div>


        </div>*@
</div>
<div class=row>
    <div class="col-lg-9">
        <div class="row" style="padding-top:10px">
            <div class="col-md-offset-5 col-md-3">
                <div class="panel" style="border:solid;color:lightseagreen">
                    <div class="panel-heading" style="background-color:lightseagreen;">

                    </div>

                    <div class="center-block" style="padding-left:20px;">
                        <button type="button" name="J1 BLOCK" class="btn btn-primary realbtn" value='J1 BLOCK'>J1 <BR />LTV TA</button>
                        <button type="button" name="J2 BLOCK" class="btn btn-primary realbtn">J1<br /> EXP</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="row" style="padding-top:10px;padding-right:10px;padding-left:10px;padding-bottom:10px">

            <div class="col-md-offset-2 col-md-3">

                <div class="panel" style="border:solid;color:lightseagreen;">
                    <div class="panel-heading" style="background-color:lightseagreen;">

                    </div>
                    <div class="row" style="padding-left:20px;padding-top:20px">


                        <button name="P BLOCK" class="btn btn-danger realbtn" value="P BLOCK">P <br />M&HCV TCF</button>
                        <button name="Q BLOCK" class="btn btn-danger realbtn" value="Q BLOCK">Q <br />LTV TCF </button>

                    </div>
                    <br />
                    <div class="row " style="padding-left:20px;padding-bottom:20px">

                        <button name="R BLOCK" class="btn btn-primary realbtn" value="R BLOCK">R <br />TUV TCF</button>
                        <button name="S BLOCK" class="btn btn-primary realbtn" value="S BLOCK">S<br />XUV TCF </button>

                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel" style="border:solid;color:lightseagreen;">
                    <div class="panel-heading" style="background-color:lightseagreen;">

                    </div>
                    <div class="center-block" style="padding-left:40px;padding-bottom:10px">
                        <button type="button" name="H BLOCK" class="btn btn-primary realbtn" value='H BLOCK'>H <BR />UTILITY</button>

                    </div>
                </div>

                <div class="panel" style="border:solid;color:lightseagreen;">
                    <div class="panel-heading" style="background-color:lightseagreen;">

                    </div>

                    <div class="row center-block" style="padding-left:20px;">
                        <button type="button" name="J2 BLOCK" class="btn btn-primary realbtn" value='J2 BLOCK'>J2 <BR />XUV TA</button>
                        <button type="button" name="J4 BLOCK" class="btn btn-primary realbtn">J3<br /> KUV TA</button>
                    </div>

                    <div class="row center-block" style="padding-left:20px;">

                        <button type="button" name="12 JPH" class="btn btn-primary realbtn" value='45 JPH '>G <br /> 45 JPH</button>
                        <button type="button" name="45 JPH" class="btn btn-primary realbtn" value='12 JPH '>F<br />12 JPH</button>
                        <br />
                    </div>





                </div>

            </div>

            <div class="col-md-4">

                <div class="panel" style="border:solid;color:lightseagreen;">
                    <div class="panel-heading" style="background-color:lightseagreen;">

                    </div>
                    <div class="row" style="padding-left:20px;padding-top:20px">

                        <button type="button" name="A1 BODY SHOP" class="btn btn-primary realbtn" value='A1 BODY SHOP'>A1 <BR />M&HCV BIW</button>
                        <button type="button" name="A3 BODY SHOP" class="btn btn-primary realbtn" value='A3 BODY SHOP'>A3<br />XUV BIW</button>
                        <button type="button" name="C3 SHOP" class="btn btn-primary realbtn">C3 GEND BIW/<br />IMPERIO BIW/<br />REXTON BIW</button>

                    </div>
                    <br />
                    <div class="row " style="padding-left:20px;padding-bottom:20px">





                        <button type="button" name="A2 BODY SHOP" class="btn btn-primary realbtn" value='A2 BODY SHOP'>A2 <br />LTV BIW</button>
                        <button type="button" name="A4 BODY SHOP" class="btn btn-primary realbtn" value='A4 BODY SHOP'>A4 <BR />TUV BIW</button>
                        <button type="button" name="D1 BLOCK" class="btn btn-primary realbtn">D1<br />  KUV BIW</button>



                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="col-md-2" style="padding-top:10px">

        <div class="panel" style="border:solid;color:lightseagreen;">
            <div class="panel-heading" style="background-color:lightseagreen;">

            </div>
            <div class="center-block">
                <div class="row center" style="padding-left:40px;padding-top:10px">


                    <button type="button" name="CE BLOCK" class="btn btn-primary realbtn">CE BLOCK</button>
                </div>
                <div class="row center" style="padding-left:40px;padding-top:10px">
                    <button type="button" name="IAC BLOCK" class="btn btn-primary realbtn">IAC BLOCK</button>
                </div>
                <div class="row center" style="padding-left:40px;padding-top:10px">
                    <button type="button" name="CK BLOCK" class="btn btn-primary realbtn">CK BLOCK</button>
                </div>
                <div class="row center" style="padding-left:40px;padding-top:10px;padding-bottom:10px">
                    <button type="button" name="ETP BLOCK" class="btn btn-primary realbtn">ETP BLOCK</button>
                </div>
                <div class="row center" style="padding-left:40px;padding-top:10px;padding-bottom:20px">
                    <button type="button" name="B BLOCK" class="btn btn-primary realbtn" value='B BLOCK'>B <br />PRESS SHOP</button>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div id="container">

    </div>
</div>









@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/PDFHighchart")

    <script type="text/javascript">
        window.onload = function () {

            $("#bodyid").addClass('sidebar-collapse');
            Highcharts.chart('container', {
                chart: {
                    renderTo: 'container',
                    type: 'column'
                },
                title: {
                    text: 'Restaurants Complaints'
                },
                tooltip: {
                    shared: true
                },
                xAxis: {
                    categories: [
                        'Overpriced',
                        'Small portions',
                        'Wait time',
                        'Food is tasteless',
                        'No atmosphere',
                        'Not clean',
                        'Too noisy',
                        'Unfriendly staff'
                    ],
                    crosshair: true
                },
                yAxis: [{
                    title: {
                        text: ''
                    }
                }, {
                    title: {
                        text: ''
                    },
                    minPadding: 0,
                    maxPadding: 0,
                    max: 100,
                    min: 0,
                    opposite: true,
                    labels: {
                        format: "{value}%"
                    }
                }],
                series: [{
                    type: 'pareto',
                    name: 'Pareto',
                    yAxis: 1,
                    zIndex: 10,
                    baseSeries: 1,
                    tooltip: {
                        valueDecimals: 2,
                        valueSuffix: '%'
                    }
                }, {
                    name: 'Complaints',
                    type: 'column',
                    zIndex: 2,
                    data: [755, 222, 151, 86, 72, 51, 36, 10]
                }]
            });
        }
        $(document).ready(function () {

            //$(".btn").click(function () {

            //    var SHOPWISE = $(this).button(".btn").val();
            //    if (SHOPWISE == null || SHOPWISE == '') {

            //    }
            //    else {
            //        var path = "/RealTimeParameter/dyamaicIndex?SHOPWISE=" + SHOPWISE;
            //        window.location.href = path;
            //    }



            //});

        })
    </script>
}