
@{
    ViewBag.Title = "demo";
    Layout = "~/Views/Shared/WithoutSideBarNoMenu/_Layout.cshtml";
}




    <div style="width: 600px; height: 400px; margin: 0 auto">
        <div id="container-speed" style="width: 300px; height: 200px; float: left">
        </div>
        <div id="temp001" style="width: 300px; height: 200px; float: left">
        </div>
    </div>

    @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
        
        @Scripts.Render("~/bundles/highchart")
    <script type="text/javascript">
         $(document).ready(function() {
             window.onload = $(function () {
                 var gaugeOptions = {
                     chart: { type: 'solidgauge' },
                     title: null,
                     pane: {
                         size: '90%',
                         startAngle: -180,
                         endAngle: 90,
                         background: {
                             backgroundColor: '#EEE',
                             innerRadius: '95%',
                             outerRadius: '100%',
                             shape: 'arc'
                         }
                     },
                     tooltip: { enabled: false },

                     // the value axis
                     yAxis: {
                         stops: [
                             [0.1, '#00f'],
                             [0.2, '#0f0'],
                             [0.3, '#f00']
                         ],
                         lineWidth: 0,
                         minorTickInterval: 0,
                         tickPixelInterval: 50,
                         tickWidth: 1,
                         labels: {
                             enabled: true,
                             distance: 10
                         }
                     },
                     plotOptions: {
                         solidgauge: {
                             innerRadius: '95%',
                             dataLabels: {
                                 y: 5,
                                 borderWidth: 0,
                                 useHTML: true
                             }
                         }
                     }
                 };




                 $('#temp001').highcharts(Highcharts.merge(gaugeOptions, {
                     yAxis: {
                         min: -30,
                         max: 60
                     },
                     credits: {
                         enabled: false
                     },
                     series: [{
                         name: 'inTemp',
                         data: [-15.5], /////// Temp Value //////////
                         dataLabels: {
                             format: '<div style="text-align:center"><span style="font-size:25px;color:' + ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y} &deg;C</span><br/>' + '<span style="font-size:12px;color:silver">abcde</span></div>'
                         }
                     }]
                 }));



             });


         });
    </script>
        }
