
@{
    ViewBag.Title = "ShopTransmissionUserSOP";
    Layout = "~/Views/Shared/WithoutSideBar/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 sop-wrapper">
        <h4 class="bg-dark text-center">TRANSMISSION SHOP</h4>
        @*<img src="images/sop4.png" />*@
        <img src="~/Content/images/SOPImages/SOP tran.jpg" />
    </div>
</div>

