
@{
    ViewBag.Title = "ShopUserSOP";
    Layout = "~/Views/Shared/WithoutSideBar/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 sop-wrapper">
        @*<img src="images/sop4.png" />*@        
        <img src="~/Content/images/SOPImages/sop.jpg" />
    </div>
</div>

