
@{
    ViewBag.Title = "ShopEngineUserSOP";
    Layout = "~/Views/Shared/WithoutSideBar/_Layout.cshtml";
}

<div class="row">
    <h4 class="bg-dark text-center">ENGINE SHOP - SOP SCREEN</h4>
    <div class="col-md-12 sop-wrapper">
        <img src="~/Content/images/SOPImages/sop eng.jpg" />
    </div>
</div>

