<div class="col-xs-3 pull-right srl-search-field">
    <div class="row no-gutter ">
        @*<div class="col-md-8"><input type="text" name="searchserial" id="srlno" class="form-control" placeholder="Serial No." /></div>
        <div class="col-md-3"><button id="srchsrl" class="btn btn-info"><i class="fa fa-search"></i></button></div>*@
    </div>
</div>
