
@{
    ViewBag.Title = "ProductionDashboard";
    Layout = "~/Views/Shared/Reports/_Layout.cshtml";
}




<div class="col-md-12">
    <iframe frameborder="0" scrolling="yes" width="99%" height="520px"
            src="http://10.4.1.143/Reports_SQLEXPRESS/Pages/Report.aspx?ItemPath=%2fFDReports%2fProduction_Dashboard" name="imgbox" id="imgbox">
        <p>iframes are not supported by your browser.</p>
    </iframe><br />

</div>
